/*----------------------------------------------------------------------------------*/
/*  c:\forms.css                                                                    */
/*----------------------------------------------------------------------------------*/
/*  CSS file for Forms Look and Feel                                                */
/*----------------------------------------------------------------------------------*/
/*
/*
/*  Oracle BLAF properties  
/**/
.maincanvasOracle {
     type:canvas
     gradient-colors:r240g240b200,r255g255b255,.7
     gradient-vcycle:0
     gradient-hcycle:0
     image:/logo.gif,340,376,.2,300,24
      }

.canvasOracle {
     type:canvas
     gradient-colors:r240g240b200,r255g255b255,.7
     gradient-vcycle:0
     gradient-hcycle:0
     image:/oracle.gif,10,1,.8
     image:/oracleband.gif,10,34,.6,560,16
      }

	  .canvasrainbow {
     type:canvas
     gradient-linear:0,0,WIDTH,HEIGHT,UpToDown,16%-16%-16%-16%-16%-12%-8%,#ff0000-#ffa500-#ffa500-#ffff00-#ffff00-#008000-#008000-#0000ff-#0000ff-#4b0082-#4b0082-#ee82ee-#ee82ee-#ee82ee,.55
}

.tableHeaderOracle {
	/*-----------------------------*/
	/*  used for the table header  */
	/*-----------------------------*/
        type:header
	font-family: Arial;
	font-size:12 
	font-weight:bold
	frame-color:r246g246b230
	inside-color:r210g216b176
	font-color:r51g102b153
	shade-color:r210g216b176
	frame-width:1
	transparency:.8
	text-align:left
	text-align-offset:5
	sort-allowed:true
	}
.tableBodyOracle {
     type:body
     font-family:Arial
     font-size:8
     font-weight:bold
     frame-color:r210g216b176
     inside-color:r246g246b230
     shade-color:r160g160b160
     frame-width:1
     transparency:.8
     va-odd:VA_LAF1
     odd-background-color:r240g240b230
     va-even:VA_LAF2     
     even-background-color:r250g250b232
     /* current record properties */
     va-name:VA_LAF5
     va-font-family:Tahoma
     va-font-size:9
     va-font-style:plain
     va-font-weight:bold
     va-foreground:r20g20b20
     va-background:r210g216b176
      }	
.tableTitleOracle {
     type:title
     font-family:Arial
     font-size:16
     font-weight:bold
     line-color:r51g102b153
     shadow-line-color:r246g246b230
     line-width:3
     text-transparency:.8
     text-color:r51g102b153
     text-gradient:none
     text-align:left
     text-line-Hoffset:0
     text-line-Voffset:8
     title-head-offset:-15
      }      

.GUIPropertiesOracle {
     type:gui
     scheme:silver
     enhanced-lists:true
     tlist-multi-selection:true
     tlist-sorted:false
     tlist-orientation:vertical
     poplist-settimekeyselect:8000
     /* menu, window caption and status bar */
     light-color-scheme:true
     /*menu-use-scheme:true*/
     window-use-scheme:true
     status-use-scheme:true
     /* tab properties */
     tab-use-scheme:true
     tab-selected-colors:r255g255b255,r51g102b153
     tab-colors:r0g0b204,r255g255b120     
     /* dialog properties */
     dialog-use-scheme:true
     dialog-font:Verdana,14
     /* frames properties */
     frame-use-scheme:true
     frame-font:Verdana,B,12
     frame-title-position:top,left
     frame-opaque:false
     frame-colors:r255g255b0
     frame-gradient-orientation:
     frame-round-border:true
     frame-title-colors:r0g0b255
     /* other GUI element properties */
     element:TextField,Tahoma,P,6,r0g185b90,r255g255b150
     element:TextArea,Tahoma,P,6,r0g185b90,r255g255b150
     element:CheckBox,Tahoma,P,6,r0g185b90,r255g255b150
     element:RadioB,Tahoma,P,12,r0g185b90,r255g255b150
     element:List,Tahoma,P,8,r0g185b90,r255g255b150
     element:Display,Tahoma,I,12,r125g185b90
     element:Prompt,Tahoma,BI,10,r0g125b255
     /* multi-select properties */
     multi-select:VA_LAF_MTSELECT,Tahoma,I,10,r40g40b40,r210g210b210
     multi-select-modifier:Ctrl	 
}      
      
/**/
/*  Ebay properties  */
/**/
.maincanvasEbay {
     type:canvas
     gradient-colors:r255g204b0,r255g255b204
     /*gradient-vcycle:/2*/
     gradient-hcycle:40
      }
.canvasEbay {
     type:canvas
     gradient-colors:r255g255b204,r255g255b255
     gradient-vcycle:/2
     gradient-hcycle:0
     image:/ebay.jpg,10,1,.8,-,-,-,true
     image:/ebay_line.jpg,30,74,.6,560,5
      }     
.tableHeaderEbay {
	/*-----------------------------*/
	/*  used for the table header  */
	/*-----------------------------*/
    type:header	
	font-family: Arial;
	font-size:12 
	font-weight:bold
	frame-color:r250g83b12
	inside-color:r255g230b142
	font-color:r26g111b17
	shade-color:r255g255b204
	frame-width:2
	frame-rounded-border: 10
	transparency:.8
	text-align:center
	text-align-offset:5
	sort-allowed:true
	}
.tableBodyEbay {
     type:body
     font-family:Arial
     font-size:8
     font-weight:bold
     frame-color:r250g83b12
     inside-color:r255g255b220
     shade-color:r255g255b220
     frame-width:2
     transparency:.8
     frame-rounded-border:10
     va-odd:VA_LAF1
     va-even:VA_LAF2
     odd-background-color:r255g230b142
     even-background-color:r255g213b94
     /* current record properties */
     va-name:VA_LAF5
     va-font-family:Tahoma
     va-font-size:9
     va-font-style:plain
     va-font-weight:bold
     va-foreground:r255g200b160
     va-background:r55g107b
      }	
.tableTitleEbay {
     type:title
     font-family:Arial
     font-size:16
     font-weight:bold
     text-transparency:.8
     text-color:r255g102b0
     text-gradient:none
     text-align:left
     text-line-Hoffset:0
     text-line-Voffset:8
     title-head-offset:-15
      }      
.GUIPropertiesEbay {
     type:gui
     scheme:orange
     enhanced-lists:true
     tlist-multi-selection:true
     tlist-sorted:false
     tlist-orientation:vertical
     poplist-settimekeyselect:8000
     /* menu, window caption and status bar */
     menu-use-scheme:true
     window-use-scheme:true
     status-use-scheme:true
     /* dialog properties */
     dialog-use-scheme:true
     dialog-font:Verdana,14
     /* frames properties */
     frame-use-scheme:true
     frame-font:Verdana,B,12
     frame-title-position:top,left
     frame-opaque:false
     /*frame-background-colors:r0g0b255*/
     frame-colors:r255g255b0
     frame-gradient-orientation:
     frame-round-border:true
     frame-title-colors:r0g0b255
     /* Tabs properties */
     tab-use-scheme:false
     tab-selected-colors:r0g0b204,r255g204b0
     tab-colors:r255g255b120,r255g255b120
     tab-font:Verdana,B,14
      }      
.canvas2 {
     type:canvas
     gradient-colors:r170g250b190,r255g255b255
     gradient-vcycle:/2
     gradient-hcycle:/2
      }
.canvas1 {
     type:canvas
     gradient-linear:0,0,WIDTH,HEIGHT,UpToDown,20%-80%,r50g50b50-r255g255b255-r255g255b255-r50g50b50,.6
     image:/logo.gif,CENTER-IMAGEWIDTH/2,BOTTOM-IMAGEHEIGHT-10,.2,600,20,
      }
.cvLinearGradients {
     type:canvas
     gradient-linear:0,0,WIDTH/2,HEIGHT,UpToDown,20%-60%-20%,r50g50b50-r255g255b255-r255g255b255-r50g50b50-r50g50b50-r255g255b255,.6
     gradient-linear:WIDTH/2,0,WIDTH/2,100,UpToDown,25%-25%-25%-25%,r99g165b247-r55g153b244-r45g126b235-r48g165b249-r48g165b249-r127g127b255-r127g127b255-r170g127b255,.6
     gradient-linear:WIDTH/2,100,WIDTH/2,100,UpToDown,20%-20%-20%-20%-20%,r255g68b54-r255g172b54-r255g172b54-r255g220b54-r255g220b54-r235g255b54-r235g255b54-r178g255b54-r178g255b54-r93g255b54,.6
      }

.canvasBlue1 {
     type:canvas
     gradient-colors:r0g255b128,r255g255b255
     gradient-direction:UpToDown
     image:http://sheikyerbouti.developpez.com/images/netsource_logo_small.gif,10,2,.8
     image:http://sheikyerbouti.developpez.com/images/blue_line.gif,20,58,.8,680,4
      }
.canvasBlue2 {
     type:canvas
     gradient-colors:r0g255b128,r255g255b255
     gradient-direction:UpToDown
      }
.canvasToolbar {
     type:canvas
     gradient-colors:r0g255b128,r255g255b255
     gradient-direction:UpToDown
      }
.canvasGreen1 {
     type:canvas
     gradient-colors:r0g170b0,r255g255b255
      }
.canvasGreen2 {
     type:canvas
     gradient-colors:r0g180b0,r255g255b255
      }
.canvasGreen3 {
     type:canvas
     gradient-colors:r255g255b255,r0g190b0
     gradient-direction:UpToDown
      }
.canvasGreen4 {
     type:canvas
     gradient-colors:r255g255b255,r0g255b128
     gradient-direction:UpToDown
     image:http://sheikyerbouti.developpez.com/images/netsource_logo_small.gif,10,2,.8
     image:http://sheikyerbouti.developpez.com/images/blue_line.gif,20,58,.8,560,4     
      }
.tableHeader1 {
     type:header
     font-family:Arial
     font-size:12
     font-weight:bold
     frame-color:r135g55b255
     inside-color:r243g236b255
     font-color:r0g0b255
     font-gradient:r0g0b255,r155g50b255
     frame-gradient:r255g0b0,r255g255b255
     frame-gradient-direction:UpToDown
     shade-color:r160g160b160
     frame-width:1
     frame-rounded-border:10
     transparency:.8
     text-align:left
     text-align-offset:5
	sort-allowed:true  
      }
.tableHeader2 {
     type:header
     font-family:Arial
     font-size:12
     font-weight:bold
     frame-color:r0g185b0
     inside-color:r185g255b185
     font-color:r0g153b153
     font-gradient:none
     frame-gradient:r0g255b0,r255g255b255
     frame-gradient-direction:UpToDown
     frame-width:2
     transparency:.8
     text-align:left
     text-align-offset:5
     sort-allowed:true
      }
.tableBody1 {
     type:body
     font-family:Arial
     font-size:8
     font-weight:bold
     frame-color:r135g55b255
     inside-color:r243g236b255
     shade-color:r160g160b160
     frame-width:1
     frame-rounded-border:10
     transparency:.8
     va-odd:VA_LAF1
     va-even:VA_LAF2
     odd-foreground-color:r128g128b255
     odd-background-color:r240g225b255
     even-foreground-color:r240g225b255
     even-background-color:r128g128b255
     va-name:VA_LAF5
     va-font-family:Tahoma
     va-font-size:9
     va-font-style:plain
     va-font-weight:bold
     va-foreground:r240g225b255
     va-background:r128g128b255
      }
.tableBody2 {
     type:body
     font-family:Verdana
     font-size:8
     font-weight:bold
     font-color:#000
     frame-color:r0g185b0
     inside-color:#fff
     shade-color:r0g110b0
     frame-width:2
     transparency:.8
     va-odd:VA_LAF1
     va-even:VA_LAF2
     odd-foreground-color:r0g102b102
     even-foreground-color:r0g102b102
     odd-background-color:r204g255b204
     even-background-color:r255g255b255
     va-name:VA_LAF4
     va-font-family:Tahoma
     va-font-size:9
     va-font-style:plain
     va-font-weight:bold
     va-foreground:r255g255b255
     va-background:r0g102b102
      }
.tableTitle1 {
     type:title
     font-family:Arial
     font-size:14
     font-weight:bold
     line-color:r255g0b0
     shadow-line-color:r200g200b200
     line-width:2
     text-transparency:.8
     text-color:none
     text-gradient:r0g0b220,r255g0b0
     text-align:left
     text-line-Hoffset:0
     text-line-Voffset:8
     title-head-offset:-15
      }
.tableTitle2 {
     type:title
     font-family:Arial
     font-size:22
     font-weight:bold
     line-color:r0g255b0
     line-dash:16,8
     line-cap:square
     line-join:miter
     line-transparency:.8
     shadow-line-color:r200g200b200
     shadow-line-transparency:.8
     line-width:4
     text-transparency:.8
     text-color:none
     text-gradient:r0g255b0,r0g100b0
     text-align:center
     text-line-Hoffset:0
     text-line-Voffset:8
     title-head-offset:-15
      }
.GUIProperties1 {
     type:gui
     scheme:purple
     enhanced-lists:true
     tlist-multi-selection:true
     tlist-sorted:false
     tlist-orientation:vertical
     poplist-settimekeyselect:8000
     menu-use-scheme:true
     checkbox-background-color:r255g255b255
     window-use-scheme:true
     status-use-scheme:true
     dialog-use-scheme:true
     frame-use-scheme:true
     item-focus-background:true   
     texture-paint1:tp2,paint,-,-,-,2,2,ffffff.ffffff.ffffff.0000ff  
     texture-paint2:tp3,shape,r255g255b255,r0g0b255,r255g0b0,7,7,m0-0.l4-0.l4-4.l0-4.z 
     texture-paint3:tp4,image,-,-,-,-,-,/target-16.gif
      }
.GUIPropertiesBlue {
     type:gui
     scheme:blue
     enhanced-lists:true
     tlist-multi-selection:true
     tlist-sorted:false
     tlist-orientation:vertical
     poplist-settimekeyselect:8000
     menu-use-scheme:true
     window-use-scheme:true
     status-use-scheme:true
     dialog-use-scheme:true
     frame-use-scheme:true
     item-focus-background:true
      }
.GUIPropertiesGreen {
     type:gui
     scheme:green
     enhanced-lists:true
     tlist-multi-selection:true
     tlist-sorted:false
     tlist-orientation:vertical
     light-color-scheme:true
     poplist-settimekeyselect:8000
     menu-use-scheme:true
     window-use-scheme:true
     status-use-scheme:true
     dialog-use-scheme:true
     frame-use-scheme:true
     item-focus-background:true
      }
.canvasDark {
	type:canvas
	texture-paint1:tp2,paint,-,-,-,2,2,ffffff.ffffff.ffffff.0000ff	
}
.tableTitleDark {
	type:title
	font-family:Verdana
	font-size:18
	font-weight:bold
	line-color:none
	line-dash:4,16
	line-cap:square
	line-join:miter
	shadow-line-color:none
	line-width:1
	text-transparency:1
	text-color:none
	text-outline-color:#0000ff
	text-outline-width:0
	text-scale:box
	text-gradient:#C3D4FF,#0000FF
	text-align:left
	text-line-Hoffset:0
	text-line-Voffset:4
	title-head-offset:-4
}
.tableHeaderDark {
	type:header
	font-family:Arial
	font-size:12
	font-weight:bold
	frame-color:#fff
	/*inside-color:r10g10b10*/
	font-color:#fff
	font-gradient:none
	frame-gradient:#506CF6,#8FA1F9
	frame-gradient-direction:UpToDown
	shade-color:#0B20A5
	frame-width:0
	frame-rounded-border:0
	transparency:1
	text-align:left
	text-align-offset:5
	sort-allowed:true
}
.tableBodyDark {
	type:body
	font-family:Arial
	font-size:8
	font-weight:bold
	frame-color:#fff
	/*inside-color:#050505*/
	shade-color:#0B20A5
	frame-width:0
	frame-rounded-border:0
	transparency:1
	va-odd:VA_LAF1
	va-even:VA_LAF2
	odd-foreground-color:r128g128b255
	odd-background-color:r240g225b255
	even-foreground-color:r240g225b255	
	even-background-color:r128g128b255
	/* current record properties */
	va-name:VA_LAF5
	va-font-family:Tahoma
	va-font-size:9
	va-font-style:plain
	va-font-weight:bold
	va-foreground:r240g225b255
	va-background:r128g128b255
}
.GUIPropertiesDark {
	type:gui
	scheme:blue
	enhanced-lists:true
	tlist-multi-selection:true
	tlist-sorted:false
	tlist-orientation:vertical
	poplist-settimekeyselect:8000
	menu-use-scheme:true
	checkbox-background-color:r255g255b255
	scheme-current-color:#5F79F6
	scheme-current-color-light:#C3D4FF
	scheme-focus-color:#526EF6
	scheme-select-color:#526EF6
	scheme-disable-color:r60g60b60
	scheme-listselection-color:#C3D4FF	 
	window-use-scheme:true
	status-use-scheme:true
	dialog-use-scheme:true
	frame-use-scheme:true
	item-focus-background:false
	texture-paint:tp2,paint,-,-,-,2,2,ffffff.ffffff.ffffff.0000ff  
	texture-paint:tp3,shape,r255g255b255,r0g0b255,r255g0b0,7,7,m0-0.l4-0.l4-4.l0-4.z 
	texture-paint:tp4,image,-,-,-,-,-,/target-16.gif
	texture-paint:tp5,paint,-,-,-,3,3,ffffff.ffffff.ff0000.ffffff.ff0000.ffffff.ff0000.ffffff.ffffff
}
